.home {
  position: relative;
  background-image: url(../images/home/home-background-image.png);
  background-size: cover;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.home .cover {
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  opacity: 0.9s;
  /*非IE浏览器下设置透明度为60%*/
  z-index: 99;
}
.home .loginPop {
  z-index: 1000;
  background-image: url(../images/home/home-loginPop.png);
  position: absolute;
  top: 58.13333333vw;
  left: 6.66666667vw;
  width: 84.26666667vw;
  height: 81.86666667vw;
  background-size: cover;
  transition: all 1s;
  transform: translateY(0);
}
.home .loginPop .loginPop-input-box {
  width: 223px;
  height: 40px;
  background-color: #FAF8EC;
  margin: 18.93333333vw 0 6.66666667vw 13.86666667vw;
  border: 1px solid #E1605B;
  border-radius: 2.4vw;
}
.home .loginPop .loginPop-input {
  outline-style: none ;
  border: none;
  background-color: #FAF8EC;
  margin: 3.46666667vw 0 0 4.8vw;
  font-family: ZhanKuQingKeHuangYouTi;
  color: #C84D1B;
  font-size: 3.168vw;
  padding: 0;
}
.home .loginPop .loginPopConfirm {
  width: 186.99px;
  height: 56.7px;
  background-image: url(../images/home/home-loginPop-confirm.png);
  background-size: cover;
  margin: 0 0 4.61066667vw 18.4vw;
}
.home .loginPop .loginPopNoID {
  width: 187px;
  height: 56.58px;
  background-image: url(../images/home/home-loginPop-noID.png);
  background-size: cover;
  margin-left: 18.4vw;
}
.home ul {
  position: absolute;
  top: 84vw;
  left: 19.73333333vw;
  list-style: none;
  margin: 0;
  padding: 0;
}
.home ul .button1 {
  width: 60.53333333vw;
  height: 21.42666667vw;
  background-image: url(../images/home/home-button1.png);
  background-size: cover;
}
.home ul .button2 {
  width: 60.53333333vw;
  height: 21.42666667vw;
  background-image: url(../images/home/home-button2.png);
  background-size: cover;
}
.home ul .stuIDBox {
  position: relative;
  width: 60.8vw;
  height: 25.86666667vw;
  background-image: url(../images/home/home-stuID.png);
  background-size: cover;
}
.home ul .stuIDBox .stuID {
  font-size: 5.06666667vw;
  font-family: ZhanKuQingKeHuangYouTi;
  color: #C84D1C;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 60.8vw;
  height: 5.06666667vw;
  text-align: center;
  margin-top: 13.33333333vw;
}
.home .rulePop {
  position: absolute;
  left: 9.06666667vw;
  transform: translateY(100vh);
  background-image: url(../images/home/home-rule.png);
  width: 81.86666667vw;
  height: 144.93333333vw;
  background-size: cover;
  transition: all 1s;
  z-index: 10001;
}
.home .rulePop .rulePopOK {
  width: 49.86666667vw;
  height: 15.29866667vw;
  background-image: url(../images/home/home-rule-ok.png);
  background-size: cover;
  margin: 108.8vw 0 0 16vw;
}
.home .rulePop .rulePopClose {
  width: 31px;
  height: 31px;
  background-image: url(../images/home/home-rule-close.png);
  background-size: cover;
  margin: 2.66666667vw 0 0 70.66666667vw;
}
