.musicBtn {
  background-image: url(../images/home/home-music.png);
  background-size: cover;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 23.73333333vw;
  left: 87.2vw;
  z-index: 98;
}
