@vv: 3.75vw;

.musicBtn{
    background-image: url(../images/home/home-music.png);
    background-size: cover;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 89./@vv;
    left: 327./@vv;
    z-index: 98;
}