.selection {
    background-image: url("../images/selection/background.png");
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    overflow-y: auto;

    .sentakushis {

        padding-top: 32.8vw;
        padding-bottom: 32.8vw;

        .sentakushi {
            // height: 24.8vw;
            // background-size: 100% 100%;
            position: relative;
            margin: 0 auto;
            overflow: hidden;

            width: 71.466666667vw;
            height: 19vw;
            border-radius: 3.5vw;
            margin-bottom: 10vw;
            background-size: 100% auto;
            transition: all ease .2s;

            .triangle {
                width: 2.133vw;
                position: absolute;
                left: 9.333vw;
                top: 7.4667vw;
                transition: all ease 0.2s;
            }

            .preview {
                width: 71.466666667vw;
            }

            .start-game {
                position: absolute;
                width: 44vw;
                left: 16.5vw;
            }

            &.harvest {
                background-image: url("../images/selection/harvest.png");
                .start-game {
                    top: 64.533333333vw;
                }
            }

            &.interstellarTrip {
                background-image: url("../images/selection/interstellar-trip.png");
                .start-game {
                    top: 54.4vw;
                }
            }

            &.antiEpidemic {
                background-image: url("../images/selection/anti-epidemic.png");
                .start-game {
                    top: 54.4vw;
                }
            }

            &.techFuture {
                background-image: url("../images/selection/tech-future.png");
                .start-game {
                    top: 54.4vw;
                }
            }


            &.expanded {

                .triangle {
                    transform: rotate(90deg);
                }

                &.harvest {
                    height: 87vw;
                }

                &.interstellarTrip {
                    height: 77vw;
                }

                &.antiEpidemic {
                    height: 77vw;
                }

                &.techFuture {
                    height: 77vw;
                }
            }
        }

        // .harvest {
        //     background-image: url("../images/selection/harvest.png");
        // }

        // .interstellarTrip {
        //     background-image: url("../images/selection/interstellar-trip.png");
        // }

        // .antiEpidemic {
        //     background-image: url("../images/selection/anti-epidemic.png");
        // }

        // .techFuture {
        //     background-image: url("../images/selection/tech-future.png");
        // }
    }

}