.selection {
    background-image: url("../images/selection/background.png");
    background-size: 100% 100%;
    min-height: 100vh;
    width: 100%;
    .sentakushis {

        padding-top: 32.8vw;
        .sentakushi {
            width: 77.184vw;
            height: 24.8vw;
            background-size: 100% 100%;
            margin: 0 auto;
        }

        .harvest {
            background-image: url("../images/selection/harvest.png");
        }

        .interstellarTrip {
            background-image: url("../images/selection/interstellar-trip.png");
        }

        .antiEpidemic {
            background-image: url("../images/selection/anti-epidemic.png");
        }

        .techFuture {
            background-image: url("../images/selection/tech-future.png");
        }
    }
    
}